form {
    margin-top: 10px;
}                                                  

label {
    display: block;
}                                                   

.form-group {
    margin-top: 5px;
}

.error{
    color: red;
    font-weight: 500;
}
 
.invalid {
    border-color: red;
}
